<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Android 11+ hides other apps unless asked: this lets BEKHI see the home screen's apps to open one by name. -->
  <queries>
    <intent>
      <action android:name="android.intent.action.MAIN" />
      <category android:name="android.intent.category.LAUNCHER" />
    </intent>
  </queries>
</manifest>
